<br>
<form class="form-inline">
    <div class="form-group mx-sm-3 mb-2">
      <input type="text" class="form-control" id="nome" name="nome" [(ngModel)]="nome" placeholder="Nome">
    </div>
    <button type="button" class="btn btn-primary mb-2" (click)="consultaUser()">Pesquisar</button>
    <button type="button" [routerLink]="['/usuarioAdd/0']" class="padding-left btn btn-warning mb-2">Novo</button>
  </form>
  <br>
<table class="table">
    <thead>
        <th>Login</th>
        <th>Nome</th>
    </thead>
    <tbody>
        <tr *ngFor="let student of students | paginate:{ itemsPerPage:5, currentPage: p }">
            <td>{{student.userLogin}}</td>
            <td>{{student.userNome}}</td>
            <td><button class="btn btn-primary" (click)="deleteUsuario(student.id)">Deletar</button></td>
            <td><button [routerLink]="['/usuarioAdd/', student.id]" class="btn btn-secondary">Editar</button></td>
        </tr>
    </tbody>
</table>

<div>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
    
</div>