<br>
<form class="form-inline">
    <div class="form-group mx-sm-3 mb-2">
      <input type="text" class="form-control" id="nome" name="nome" [(ngModel)]="nome" placeholder="Nome">
    </div>
    <button type="button" class="btn btn-primary mb-2" (click)="consultaUser()">Pesquisar</button>
    <button type="button" [routerLink]="['/usuarioAdd/0']" class="padding-left btn btn-warning mb-2">Novo</button>
  </form>
  <br>
<table class="table">
    <thead>
        <th>Login</th>
        <th>Nome</th>
        <th>CPF</th>
        <th>Delete</th>
        <th>Editar</th>
    </thead>
    <tbody>
        <tr *ngFor="let student of studentsMain | paginate:{ itemsPerPage:5, currentPage: p, totalItems : total }">
            <td *ngIf="(student.id !=0)">{{student.login}}</td>
            <td *ngIf="(student.id !=0)">{{student.nome}}</td>
            <td *ngIf="(student.id !=0)">{{student.cpf! | mask:'000.000.000-00'}}</td>
            <td *ngIf="(student.id !=0)"><button class="btn btn-primary" (click)="deleteUsuario(student.id!)">Deletar</button></td>
            <td *ngIf="(student.id !=0)"><button [routerLink]="['/usuarioAdd/', student.id]" class="btn btn-secondary">Editar</button></td>
        </tr>
    </tbody>
</table>

<div>
    <pagination-controls (pageChange)="carregarPagina(p = $event)"></pagination-controls>
</div>