<form id="padding-left">
    <h3>Tela de usuario</h3>

    <div class="form-row">
        <div class="form-group col-md6">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" readonly="true" autocomplete="false">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="login">Login</label>
            <input type="text" class="form-control" id="login" autocomplete="false" required="true" name="login">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="email">Nome</label>
            <input type="text" class="form-control" id="nome" autocomplete="false" required="true" name="nome">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="senha">Senha</label>
            <input type="password" class="form-control" id="senha" autocomplete="false" required="true" name="senha">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-3">
            <button class="btn btn-primary"> Cadastrar</button>
            <button class="btn btn-secondary" id="padding-left" > Novo</button>
            <button [routerLink]="['/usuarioList']" class="btn btn-warning" id="padding-left"> Voltar</button>
        </div>
    </div>
</form>