<form class="padding-left">
    <h3>Tela de usuario</h3>

    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="login">Login</label>
            <input [(ngModel)]="usuario.userLogin" type="text" class="form-control" id="login" autocomplete="false" required="true" name="login">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="email">Nome</label>
            <input [(ngModel)]="usuario.userNome" type="text" class="form-control" id="nome" autocomplete="false" required="true" name="nome">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-4">
            <button class="btn btn-primary"> Cadastrar</button>
            <button class="btn btn-secondary padding-left" > Novo</button>
            <button [routerLink]="['/usuarioList']" class="btn btn-warning padding-left"> Voltar</button>
        </div>
    </div>
</form>